.warehouse-view {
  position: relative;
  display: flex;

  height: 100vh;
  border: 1.5px solid black;
  padding: 10px;
}
.navcontainer {
  flex: 0 0 15%;
  background-color: aqua;
  padding: 2px;
}
.navdatacontainer {
  flex: 0 0 15%;
  background-color: burlywood;
  padding: 2px;
}
.test {
  border: 1px solid black;

  min-height: 2vh;
  background-color: grey;
  margin-bottom: 2px;
  color: white;
  font-size: larger;
}
.test:hover {
  background-color: white;
  color: black;
}
.nav-view {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 2px;
}

.insidenav {
  flex: 0 0 100%;
  min-height: 3vh;
  background-color: rgb(202, 201, 201);
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  font-size: medium;
}
.insidenav:hover {
  background-color: blueviolet;
}
.body-view {
  flex: 1 1 auto;
  background-color: burlywood;
}
.selected {
  background-color: chartreuse;
  color: black;
}
