.navdiv {
  flex: 1 0 30%;
  margin: 5px;
  background-color: rgb(45, 211, 161);
  color: rgb(75, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navdiv:hover {
  background-color: rgb(212, 206, 206);
}

.app-nav {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}
button {
  display: block;
  background-color: rgb(194, 102, 102);
  color: black;
  height: 5vh;
  width: 98vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
button:hover {
  background-color: rgb(20, 20, 20);
  color: rgb(243, 234, 234);
  cursor: pointer;
}
.app-body {
  position: relative;
}
/* .app-body button {
  position: sticky;
  top: 2px;
} */

/* fixed position */
.main-container {
  position: relative;
}
.app-body {
  position: sticky;
  top: 0px;
}
