<div class="container">
  <div class="nav">
    <div class="navdiv" (click)="runDataView()">PRESCRIPTION</div>
    <div class="navdiv" (click)="runFormView()">EDIT</div>
  </div>
  <div class="body">
    <div class="main" *ngIf="dataView">
      <p *ngIf="dataViewData.length == 0">please press edit button to add</p>
      <table *ngIf="dataViewData.length > 0">
        <thead>
          <tr>
            <th>sn</th>
            <th>medicine</th>
            <th>quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let med of dataViewData">
            <td>{{ med.sn }}</td>
            <td>{{ med.medicine }}</td>
            <td>{{ med.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="main" *ngIf="formView">
      <form (ngSubmit)="createInputs(x)" #x="ngForm">
        <input
          (click)="toggleMessage()"
          id="course"
          type="number"
          ngModel
          name="name"
          autocomplete="off"
          placeholder="number of medicines"
        />

        <input type="submit" value="SUBMIT" />
      </form>

      <form
        (ngSubmit)="onSubmit(f)"
        #f="ngForm"
        [ngStyle]="{ 'margin-top': '5px', 'margin-bottom': '5px' }"
      >
        <input
          id="client"
          list="destinations"
          ngModel
          name="client"
          autocomplete="off"
          placeholder="name of destination"
        />
        <datalist id="destinations">
          <option *ngFor="let store of data.stores.collection">
            {{ store.store }}
          </option>
        </datalist>

        <div class="ctrl" *ngFor="let ctrl of nofcontrols">
          <input
            (click)="toggleMessage()"
            id="{{ ctrl.med }}"
            list="medicines"
            ngModel
            name="{{ ctrl.med }}"
            autocomplete="off"
            placeholder="select medicine"
          />
          <datalist id="medicines">
            <option *ngFor="let medicine of data.commodities.collection">
              {{ medicine.commodity }}
            </option>
          </datalist>

          <input
            (click)="toggleMessage()"
            id="{{ ctrl.quant }}"
            type="number"
            ngModel
            name="{{ ctrl.quant }}"
            autocomplete="off"
            placeholder="input quantity"
          />
        </div>

        <input type="submit" value="DISPENSE" />
      </form>
      <h3 *ngIf="message">topic added successfuly</h3>
    </div>
  </div>
</div>
