header {
  height: 14vh;
  background-color: rgb(243, 234, 234);
  margin: 1vh;
  padding: 1vh;
}

.title {
  height: 60%;
  background-color: rgb(216, 140, 112);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  height: 40%;
  background-color: rgb(243, 183, 195);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn {
  flex: 1 1 auto;
  max-width: 20%;
  height: 90%;
  background-color: rgb(171, 219, 123);
  margin: 1px;
  border: 1px solid rgb(138, 127, 127);
  border-radius: 3px;
}
.title,
nav {
  margin: 1px;
}
