<div class="chief-container">
  <app-header [navData]="navData" (sendView)="view = $event"></app-header>

  <app-clinic *ngIf="view == 'outlets'"></app-clinic>
  <app-statistics *ngIf="view == 'statistics'"></app-statistics>
  <!-- <app-shops
    *ngIf="view == 'outlets'"
    class="body fix"
    [(data)]="data"
  ></app-shops> -->
  <app-warehouses
    [(data)]="data"
    class="warehouses"
    *ngIf="view == 'warehouses'"
    class="body fix"
  ></app-warehouses>
  <app-manage
    class="warehouses"
    *ngIf="view == 'manage'"
    class="body fix"
  ></app-manage>
</div>
