.navdiv {
  flex: 1 0 30%;
  margin: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navdiv:hover {
  background-color: rgb(212, 206, 206);
}

.pms-nav,
.pms-inner-nav {
  display: flex;
  flex-flow: row wrap;
}

.pms-inner-nav {
  height: 8vh;
}
.pms-nav {
  height: 10vh;
}

body {
  height: 100vh;
  background-color: bisque;
}
.applet {
  background-color: rgb(212, 206, 206);
}
.pmsnav {
  background-color: rgb(212, 206, 206);
}
.fix {
  position: sticky;
  top: 0px;
}
.chief-container {
  position: relative;
}
