<form
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
  [ngStyle]="{ 'margin-top': '5px', 'margin-bottom': '5px' }"
>
  <input
    id="client"
    type="text"
    ngModel
    name="client"
    autocomplete="on"
    placeholder="name of patient"
  />

  <div class="ctrl" *ngFor="let ctrl of nofcontrols">
    <input
      id="{{ ctrl.med }}"
      list="medicines"
      ngModel
      name="{{ ctrl.med }}"
      autocomplete="off"
      placeholder="select medicine"
    />
    <datalist id="medicines">
      <option *ngFor="let medicine of medicines">
        {{ medicine }}
      </option>
    </datalist>

    <input
      id="{{ ctrl.quant }}"
      type="number"
      ngModel
      name="{{ ctrl.quant }}"
      autocomplete="off"
      placeholder="input quantity"
    />
  </div>

  <input type="submit" value="DISPENSE" />
</form>
