<div class="warehouse-view">
  <nav class="nav-view">
    <!-- the specific navigation section -->
    <div class="nav-view">
      <!-- the navigation section choices/items -->
      <app-insidenav
        *ngFor="let item of forms"
        class="insidenav"
        [class.selected]="form == item.form"
        (click)="toggleForms(item.form)"
        [site]="item.form"
      ></app-insidenav>
    </div>
  </nav>
  <!-- the view controlled by navigation items -->
  <div class="body-view">
    <div class="bf" *ngFor="let item of forms">
      <app-basic-form
        *ngIf="form == item.form"
        [placeholder]="item.form"
        [data]="item.options"
        (sendValue)="item.submit($event)"
      ></app-basic-form>
    </div>

    <!-- <app-basic-form
      *ngIf="form == 'store'"
      [placeholder]="'input store'"
    ></app-basic-form>
    <app-basic-form
      *ngIf="form == 'unit'"
      [placeholder]="'input unit'"
    ></app-basic-form> -->
    <!-- <app-basic-form></app-basic-form> -->
  </div>
</div>
