.instat {
  height: 100%;

  margin: 1px;
  border: 1px solid black;
  overflow-y: scroll;
}
.statistics {
  display: flex;
}
.instat::-webkit-scrollbar {
  display: none;
}
.primary,
.secondary {
  flex: 0 0 20%;
}
.tertiary {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  padding: 0.5vh;
}

table {
  width: 70%;
  border-collapse: collapse;
  background-color: white;
}
nav,
.searches,
.table {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(231, 172, 227);
}

nav {
  display: flex;
  flex: 0 0 5%;
  justify-content: space-evenly;
  align-items: center;
}
.btn {
  flex: 1 1 auto;
  max-width: 30%;
  height: 90%;
  background-color: rgb(171, 219, 123);
  margin: 1px;
  border: 1px solid rgb(138, 127, 127);
  border-radius: 3px;
}
.searches {
  flex: 0 0 15%;
}
.table {
  flex: 1 1 auto;
  overflow-y: scroll;
}
.table::-webkit-scrollbar {
  display: none;
}

table {
  font-size: larger;
  border-collapse: collapse;
  width: 70%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(162, 165, 148);
}
th,
td {
  border: 1px black;
  text-align: left;
}
/* tbody tr td:nth-child(3) {
  text-align: center;
} */
tbody tr:hover {
  background-color: white;
  color: black;
}

/* styles for forms and containers */
.container {
  padding: 3vh;
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  padding: 1vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(147, 94, 94);
  width: 80%;
}
label,
input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  display: block;
  width: 60%;
}
input[type="submit"]:hover {
  background-color: rgb(145, 238, 151);
}
input[type="submit"]:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.print {
  height: 4%;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.print button {
  width: 100%;
}
