<div class="statistics body">
  <div class="primary instat">
    <div (click)="toggleSecondaryView()">OPEN</div>
  </div>
  <div class="secondary instat" *ngIf="secondaryView">
    <div (click)="closeSecondaryView()">CLOSE</div>
  </div>
  <div class="tertiary instat">
    <nav>
      <button class="btn" (click)="getToday()">TODAY</button>
      <button class="btn" (click)="toggleSearchesView('search')">SEARCH</button>
      <button class="btn" (click)="toggleSearchesView('range')">RANGE</button>
    </nav>
    <div class="searches" *ngIf="searchesView">
      <div class="container" *ngIf="searches == 'search'">
        <form (ngSubmit)="getOne(f)" #f="ngForm">
          <input type="date" name="single" ngModel />
          <input type="submit" value="find" />
        </form>
      </div>
      <div class="container" *ngIf="searches == 'range'">
        <form (ngSubmit)="getRanges(x)" #x="ngForm">
          <label for="min">START</label>
          <input id="min" type="date" name="min" ngModel />
          <label for="max">END</label>
          <input id="max" type="date" name="max" ngModel />
          <input type="submit" value="find" />
        </form>
      </div>
    </div>
    <div class="table">
      <a routerLink="/print" class="print"><button>PRINT</button></a>
      <table>
        <thead>
          <tr>
            <th>sn</th>
            <th>medicine</th>
            <th>quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dispensed.dispensed">
            <td>{{ item.sn }}</td>
            <td>{{ item.commodity }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
